<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <!--in line expression -->
    @DateTime.Now
    </br>
    @Request.Url

    <!--code block expression -->
    @{
        var name = "Esraa Megdadi";
        var age = 25;
    }
    <h1>welcome Ms. @name</h1>
    <h3>Your age is: @age</h3>
</body>
</html>
