@model Introduction_To_MVC.Models.Computer

@{
    ViewBag.Title = "Display";
}

<div>
    <b> Computer Name: </b> @Model.Name  <br />
    <b> Computer Price </b> @Model.price
</div>
<!--
    زمان
    http://www.mywebsite.com/login.aspx  "url for login page"
     http://www.mywebsite.com/mypic.png "url for picture"
     لكن الان في mvc
     http://www.mywebsite.com/mycontroller/myaction/parameters

-->
